<!-- Importer le header en EJS -->
<%- include('../statics/header') -%>

<main class="container">
    <%- include('../statics/intro') -%>
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Article : </h2>
        </div>
    </div> 
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="jumbotron">
                <h3 class="display-4">
                    Éditer : <%- data.data.post.headline %>
                </h3>
                <%- include('../components/form-post', {data: data.data.post}) -%>
            </div>
        </div>
    </div>
</main>

<!-- Importer le footer en EJS -->
<%- include('../statics/footer') -%>
