<!-- Importer le header en EJS -->
<%- include('../statics/header') -%>

<main class="container">
    <%- include('../statics/intro') -%>
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Article : </h2>
        </div>
    </div> 
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="jumbotron">
                <h3 class="display-4">
                    <%- data.data.post.headline %>
                    <% if (data.data.post.author._id.toString() === data.data.user._id.toString() ) {%>
                    <a href="/delete/post/<%- data.data.post._id %>" class="btn btn-danger">Delete</a>
                    <a href="/edit/post/<%- data.data.post._id %>" class="btn btn-warning">Edit</a>
                    <% } %>
                </h3>
                <p>Par : <%- data.data.post.author.givenName %> - <%- data.data.post.creationDate %></p>
                <p class="lead">
                    <%- data.data.post.body %>
                </p>
                <div>
                    <%- include('../components/form-like', {id: data.data.post._id, model : 'post', user: data.data.user, likes: data.data.post.likes}) -%>
                        <% if( data.data.post.likes.length > 0 ) { %>
                            <span class="badge badge-primary badge-pill"> <%- data.data.post.likes.length %></span>
                        <% } else{ %>
                            <span class="badge badge-primary badge-pill"> 0</span>
                        <% } %>
                </div>
                <hr class="my-4">
                <h4 class="lead">Commentaires: </h4>
                <% if( data.data.post.comments.length > 0 ) { %>
                    <%- include('../components/comments', {datas : data.data.post.comments, user : data.data.user }) %>
                <% } else { %>
                <p>aucun commentaire</p>
                <% } %>
                <hr class="my-4">
                <div>
                    <%- include('../components/form-comment', {postId: data.data.post._id}) -%>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Importer le footer en EJS -->
<%- include('../statics/footer') -%>
